.root {
  display: flex;
  align-items: center;
  position: relative;

  width: 50px;

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;

    input {
      cursor: inherit;
    }
  }
}