.root {
  border-bottom: solid 1px rgb(224, 224, 224);
  text-align: left;
  box-sizing: border-box;
  padding: 10px;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    box-sizing: border-box;
  }
}
