.root {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);

  .column {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 120px;
    max-width: 120px;

    .title {
      color: rgba(0, 0, 0, 0.87);
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 500;
      cursor: pointer;
    }

    .check {
      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 10px;

        input {
          cursor: inherit;
        }
      }
    }

    .separator {
      display: flex;
      color: rgb(224, 224, 224);
      position: absolute;
      right: 0px;

      svg {
        width: 1em;
        fill: currentColor;
        font-size: 1.5rem;
      }
    }
  }
}

