.root {
    display: flex;
    flex-direction: column;
}

.root > .row {
    max-height: 52px;
    min-height: 52px;

    display: flex;

    border-bottom: 1px solid rgb(224, 224, 224);
}

.root > .row > .cell {
    display: flex;
    align-items: center;

    min-width: 120px;
    max-width: 120px;
    min-height: 52px;
    max-height: 52px;

    box-sizing: border-box;
    padding: 0px 10px;
}