.root {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;

  cursor: pointer;

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: inherit;

    input {
      cursor: inherit;

    }
  }
}