.root {
  display: flex;
  align-items: center;
  min-width: 0px;
  flex: 1 1 0%;
  white-space: nowrap;
  overflow-x: hidden;

  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 500;

  .columnName{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 500;
  }
}